PORT=PORT
 
#Security
SECRET= SECRET
ACCESS_TOKEN_SECRET = ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY = EXPIRY
REFRESH_TOKEN_SECRET = REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRY = EXPIRY
NODE_ENV=NODE_ENV
 
#Email
EMAIL_SERVICE=EMAIL_SERVICE
EMAIL_USER=EMAIL_USER
EMAIL_PASSWORD=EMAIL_PASSWORD
EMAIL_PORT=EMAIL_PORT
 
# #Database
DATABASE_HOST=DATABASE_HOST
DATABASE_USERNAME=DATABASE_USERNAME
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_NAME=DATABASE_NAME
DATABASE_PORT=DATABASE_PORT
 
DATABASE_DIALECT=DATABASE_DIALECT
DATABASE_LOGGING=DATABASE_LOGGING
 
CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET
 

  