PORT=9090

# Encryption algorithm
CRYPTO_ALGORITHM=CRYPTO_ALGORITHM

# For SC Type
SC_CRYPTO_SECRET_KEY=SC_CRYPTO_SECRET_KEY
SC_CRYPTO_IV=SC_CRYPTO_IV        

# For TB Type
TB_CRYPTO_SECRET_KEY=TB_CRYPTO_SECRET_KEY
TB_CRYPTO_IV=TB_CRYPTO_IV

# GroqAI API Key
SC_GROQ_API_KEY_ENCRYPTED=SC_GROQ_API_KEY_ENCRYPTED
TB_GROQ_API_KEY_ENCRYPTED=TB_GROQ_API_KEY_ENCRYPTED
GROQ_API_KEY=GROQ_API_KEY

# OpenAI API key 
SC_OPENAI_API_KEY_ENCRYPTED=SC_OPENAI_API_KEY_ENCRYPTED

TB_OPENAI_API_KEY_ENCRYPTED=TB_OPENAI_API_KEY_ENCRYPTED

