PORT=PORT

# Encryption algorithm
CRYPTO_ALGORITHM=aes-256-cbc

SC_CRYPTO_SECRET_KEY=SC_CRYPTO_SECRET_KEY  
SC_CRYPTO_IV=SC_CRYPTO_KEY         

# GroqAI API Key
SC_GROQ_API_KEY_ENCRYPTED=SC_GROQ_API_KEY_ENCRYPTED
GROQ_API_KEY=GROQ_API_KEY

# OpenAI API key 
SC_OPENAI_API_KEY_ENCRYPTED=SC_OPENAI_API_KEY_ENCRYPTED

# For TC (Theoretical Content)
TC_CRYPTO_SECRET_KEY=TC_CRYPTO_SECRET_KEY
TC_CRYPTO_IV=TC_CRYPTO_IV
TC_OPENAI_API_KEY_ENCRYPTED=TC_OPENAI_API_KEY_ENCRYPTED