PORT=PORT
MONGO_URI=MONGO_URI
JWT_SECRET=JWT_SECRET

EMAIL_HOST=EMAIL_HOST
EMAIL_PORT=EMAIL_PORT
EMAIL_USER=EMAIL_USER
EMAIL_PASS=EMAIL_APP_PASSWORD

CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET


